*

!README.md
!Makefile
!.gitignore

!root/
root/*
!root/*.c
!root/*.h
root/symbols.c
root/symbols.h

!node/
node/*
!node/*.c
!node/*.h
node/symbols.c
node/symbols.h

!gateway/
gateway/*
!main.cpp

!simu/
simu/*
!simu/cooja_project.csc
